<h1>Paul Liu</h1>
<h3>Email</h3>
<p>paul.pliu87@gmail.com</p>
<h3>Phone</h3>
<p>(206)377-9239</p>
<h3>Github</h3>
<a href="https://www.github.com/paulliu87">paulliu87</a>
<h3>Linkedin</h3>
<a href="https://www.linkedin.com/in/paulpliueit">Paul Liu</a>