<h3>#restaurants</h3>
<p>Display all the restaurants from database.</p><br>
<h3>#restaurants/new</h3>
<p>Display a form.</p><br>
<h3>#restaurants/id</h3>
<p>Display a restaurant.</p><br>
<h3>#lunchorders</h3>
<p>Display all the lunchorders from database.</p><br>
<h3>#lunchorders/id</h3>
<p>Display a lunchorder.</p><br>
<h3>#lunchorders/new</h3>
<p>Display a form for creating lunchorder.</p><br>
<h3>#lunchorders/lunchorder_id/placeorder</h3>
<p>Place order.</p><br>