<h1>Lunch Orders</h1>
<p>Team needs: total 50 meals including 5 vegetarians and 7 gluten free.
Restaurants: Restaurant A has a rating of 5/5 and can serve 40 meals including 4 vegetarians, 
Restaurant B has a rating of 3/5 and can serve 100 meals including 20 vegetarians, and 20 gluten free.</p>
 
<p>Expected meal orders: Restaurant A (4 vegetarian + 36 others), Restaurant B (1 vegetarian + 7 gluten free + 2 others)</p>
